<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Definición de propiedades -->
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/estudiantes.log"/>

    <!-- Appender para consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para archivo con rotación diaria -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- un archivo de log por día -->
            <fileNamePattern>${LOG_PATH}/estudiantes-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- mantener 15 días de logs -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
        <!-- <pattern>[%thread] %-5level %logger - %msg%n</pattern>-->
        <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- Niveles de log por paquetes -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="utn.estudiantes" level="DEBUG"/> <!-- tu proyecto -->

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
